<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 15px;
        }
        .userAvatar {
            padding-left: 15px;
            padding-top: 15px;
            float: left;
        }
        .userInfo {
            padding-top: 15px;
            padding-left: 200px;
        }
    </style>
    <title></title>
</head>
<body>

<div th:replace="common :: header"></div>

<div class="indent">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-dark" href="/users">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${user.getId()}"></li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3" style="min-width: 170px" >
                <img width="150" src="/default_logo.png" alt="/default_logo.png">
            </div>
            <div class="col-6">
                <h3 th:text="${user.getId()}"></h3>
                <p th:text="'Role: ' + ${user.getUserrole()}"></p>
                <p th:if="${user.getStatus() != null}" th:text="'Status: ' + ${user.getStatus()}"></p>
                <p th:text="'Registration date: ' + ${user.getCreated_at()}"></p>
            </div>
            <div class="col" th:if="${#strings.equals(user_role, 'moderator')}">
                <div class="row">
                    Set user role:
                </div>
                <a class="row" style="padding: 5px" th:href="@{/users/{user}/changeRole(user=${user.getId()}, role='banned')}">
                    <button type="button" class="btn btn-dark w-100">Banned</button>
                </a>
                <a class="row" style="padding: 5px" th:href="@{/users/{user}/changeRole(user=${user.getId()}, role='common')}">
                    <button type="button" class="btn btn-dark w-100">Common</button>
                </a>
                <a class="row" style="padding: 5px" th:href="@{/users/{user}/changeRole(user=${user.getId()}, role='moderator')}">
                    <button type="button" class="btn btn-dark w-100">Moderator</button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div th:replace="common :: footer"></div>
</div>

</body>
</html>