<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Forum Users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div th:replace="common :: header"> </div>

<div class="indent">
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col"> Partition name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${partitions.isEmpty()}">
      <td colspan="6"> There are no partitions in this forum yet. Would you like to create first? </td>
    </tr>
    <tr th:each="partition : ${partitions}">
      <td>
        <a th:href="'/forumPartition?id=' + ${partition.getId()}">
          <span th:text="${partition.getId()}"> </span>
        </a>
      </td>
    </tr>

    </tbody>
  </table>
</div>


<div th:replace="common :: site-script"></div>

</body>
</html>