<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 15px;
        }
        .userAvatar {
            padding-left: 15px;
            padding-top: 15px;
            float: left;
        }
        .userInfo {
            padding-top: 15px;
            padding-left: 200px;
        }
    </style>
    <title></title>
</head>
<body>

<div th:replace="common :: header"></div>

<div class="indent">
    <div class="userHeader">
        <span class="userAvatar">
            <img width="150" th:src="@{default_logo.png}"/>
        </span>
        <div class="userInfo">
            <h3 th:text="${forumUser.getId()}"></h3>
            <p th:text="'Role: ' + ${forumUser.getUserrole()}"></p>
            <p th:if="${forumUser.getStatus() != null}" th:text="'Status: ' + ${forumUser.getStatus()}"></p>
            <p th:text="'Registration date: ' + ${forumUser.getCreated_at()}"></p>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</div>

</body>
</html>